
<div class="row">
<div class="col-sm-6"> 
<div class="container">
    <span style="font-size:20px">Students List</span>
    <table class="table">
         <thead>
            <tr>
            <th>Roll Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <% @students.each do |s|%>
            <tr>
                <td><%= s.id %></td>
                <td><%= s.firstname %></td>
                <td><%= s.lastname %></td>
                <td><%= link_to 'Edit',edit_student_path(s)%></td>
                <td><%= link_to 'show' %></td>
            </tr>
            
            <%end%>
        </tbody>

    </table>
</div>
</div>
</div>
