  <strong>Details</strong>
<p>
  <strong>First Name:</strong>
  <%= @student.firstname %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @student.lastname %>
</p>
<p>
  <strong>Email Id:</strong>
  <%= @student.emailid %>
</p>
 
<p>
  <strong>Mobile Number</strong>
  <%= @student.mobilenumber %>
</p>
<p>
 <%= link_to 'List all', student_index_path %><br>
 <%= link_to 'new record', student_new_path %>